.modal {
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        padding: 25px;
    }

    &__header {
        display: flex;
        justify-content: flex-end;
    }
}