.form {
    &--row {
        display: flex;
        align-items: center;

        .form__input {
            margin-right: 16px;
        }
    }

    &__error {
        color: red;
        font-size: 0.8rem;
        height: 15px;
    }
}